<dl>
    <style>
div.row {
    margin: 10px;
}
</style>
<div class="row">
  <div class="col-sm-4">
      <a href="/social-media"><h2><font color="#333333">Social Media</font></h2></a>
    <img src="/assets/index-01.jpg" class="img-responsive" alt="">
    <strong>Get regular updates about the CDMEC</strong>
    <p>We are always busy even in the winter, get behind the sences picture.</p>
    
  </div>
  <div class="col-sm-4">
    <a href="/parties"><h2><font color="#333333">Parties</font></h2></a>
    <img src="/assets/index-02.jpg" class="img-responsive" alt="">
    <strong>Want to hire the railway for a special event?</strong>
    <p>In the summer months the railway is aviable to hire for childrens parties and other events.</p>
  </div>
  <div class="col-sm-4">
    <a href="/membership"><h2><font color="#333333">Membership</font></h2></a>
    <img src="/assets/index-03.jpg" class="img-responsive" alt="">
    <strong>The clubs forthcoming meetings and events.</strong>
    <p>The club maintains a full calendar for club members to enjoy, including driver training and socials.</p>
  </div>
</div>
</dl>